<!doctype html>
<html>

<head>
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title> Deteced Image Check web app</title>
  <style>
    body{
        margin-bottom: 5mm;
    }
  </style>
</head>

<body>
<center>
<div class="container-fluid">

<h5>Deteced Image Check</h5>
<br>
<br>

<table border =0 >
  <tr>
   <th><h5>Images Creation Time:</h5></th>
   <td>{{img_list[0]['create_time']}}</th>
  </tr>

  <tr>
   <th><h5>Current Time:</h5></th>
   <td><span id="time"></span></th>
  </tr>

</table>


<br>
<input type="button" value="Refresh Page" onClick="window.location.reload()">
<br>
<br>
<table border =1 >
  <tr>
  {% for key in param %} 
   <th>{{key}}</th>
  {% endfor %}
  </tr>

  <tr>
  {% for value in param.itervalues() %}
   <td> {{ value}} </td>
  {% endfor %}
  </tr>

</table>

<br>
<br>
<h4>Image:</h4>

{% for img in img_list %} 
   <img src="data:image/jpeg;base64,{{img['img_str']}}" style="max-width: 350px;">
   <br>
{% endfor %}

<br>
<br>
<br>

<!--<a href="http://192.168.1.64:5000" type="button">New Para Tuning</a>-->

</div>
</center>
</body>

</html>

<script type="text/javascript">
var today = new Date();
 document.getElementById('time').innerHTML=today;
 </script>
