<!doctype html>
<html>

<head>
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='my_style.css') }}">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title> Deteced Image Check web app</title>
  <style>
    body{
        margin-bottom: 5mm;
    }
  </style>
</head>

<body>
<center>
<div class="container-fluid">

<h5>Deteced Image Check</h5>
<br>
<br>

<table border =0 >
  <tr>
   <th><h5>Images Creation Time:</h5></th>
   <td>  <div id="c_time">
        {% if img_list | length > 0 %}
      {{img_list[0]['create_time']}}
       {%else%}
       No Image Detected Now
        {%endif%}
        </div> 
        </td>
  </tr>

  <tr>
   <th><h5>Current Time:</h5></th>
   <td><span id="time"></span></td>
  </tr>

</table>


<br>
<input type="button" value="Clear Page" onClick="window.location.reload()">
<br>
<br>


<br>
<br>
<h4>Image:</h4>


<div  class="container-fluid">
  <div class="row" id="image_area">
    <br>
    {% for img in img_list %} 
       <div class='col-sm-6 col-md-4'><img src='/static/img/{{img['img_path']}}' style='max-width: 250px';></div>
       <br>
    {% endfor %}
  </div>
</div>



<br>
<br>
<br>


</div>
</center>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // $('#image_area').empty();
    var cur_col_num=0;
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        console.log("client side on connect")
    });

    
    socket.on('post detected', function(data) {
        console.log("got post from client, there's new image in dump path!");
        
        var img_list=data['img_list'];
        //console.log(data);
        var updated_time =data['client_message']['updated_time'];
        //var dict_from_post= data['client_message'']
        $('#c_time').text(updated_time)
        console.log(img_list)
        for (var i in img_list){
          
          // $( "#image_area" ).append( "<img src='/static/img/"+img_list[i]['img_path']+"' class='col-sm-6 col-md-4' style='max-width: 350px';>");
          $( "#image_area" ).append("");
          $( "#image_area" ).append("\
            <div class='col-sm-6 col-md-4 img_block'>\
              <div class='label'>"+data['client_message']['face_name_list'][0]+"</div>\
              <div style='height:300px;'>\
                <center></center>\
                <img src='/static/img/"+img_list[i]['img_path']+"' class='img_format'>\
              </div>\
            </div>");
          
          
          // <div class='label'>"+img_list[i]['create_time']+"</div>\
          //     <div class='label'> Name: "+data['client_message']['face_name_list'][i]+"</div>\

          //style='max-height:150px; max-width:150px; width:auto ;height:auto;'
          // $( "#image_area" ).append( "<img src='/static/img/"+img_list[i]['img_path']+"' class='col-sm-6 col-md-4' style='max-height:150px>");
          cur_col_num++;
          if(cur_col_num==3){
            $( "#image_area" ).append( "<div class='col-md-12'><div style='margin-top:50px'></div></div>" );
            cur_col_num=0
          }
          // $( "#image_area" ).append( "<br>" );
        }
        //$( "#image_area" ).append( data['client_message']['face_name_list'][0] );
       // var dict_from_post =data['client_message'];
       // var updated_time =dict_from_post['updated_time'];       
        //$('#c_time').text(updated_time);
    });
</script>




<script type="text/javascript">
var today = new Date();
 document.getElementById('time').innerHTML=today;
 </script>

