<!doctype html>
<html>

<head>
  
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <title> Login Form</title>
<!--   <style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style> -->

</head>



<body>
<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" action="#" method="post" role="form" style="display: block;">
                <h2>LOGIN</h2>
                  <div class="form-group">
                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="col-xs-6 form-group pull-left checkbox">
                    <input id="checkbox1" type="checkbox" name="remember">
                    <label for="checkbox1">Remember Me</label>   
                  </div>
                  <div class="col-xs-6 form-group pull-right">     
                        <button type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login">Log In
                        </button>
                  </div>
              </form>
              <form id="register-form" action="#" method="post" role="form" style="display: none;">
                  <div class="form-group row">
                      <div class="col-md-2 col-form-label"><h2>REGISTER</h2></div>
                      <div class="col-md-10 col-form-label">
                        <div id='notification-warning' hidden="true" style="color:#efd510"><span class="fa fa-exclamation-triangle"></span>Password confirm not equal</div>
                        <div id='notification-success' hidden="true" style="color:#44c113"><span class="fa fa-check-circle-o"></span>Register successfully, redirecting to Log In</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="username" id="register_username" tabindex="1" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="register_email" tabindex="1" class="form-control" placeholder="Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="register_password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="register_confirm_password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button type="button" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register">Register Now
                        </button>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<footer>
    
</footer>



<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

  var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        console.log("client side on connect")
    });

  // $(function() {
    $('#login-form-link').click(function(e) {
      $("#login-form").delay(100).fadeIn(100);
    $("#register-form").fadeOut(100);
    $('#register-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });
  $('#register-form-link').click(function(e) {
    $("#register-form").delay(100).fadeIn(100);
    $("#login-form").fadeOut(100);
    $('#login-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });

  $('#register-submit').click(function(e){
    var user_name=$('#register_username').val();
    var password=$('#register_password').val();
    var email=$('#register_email').val();
    var confirm=$('#register_confirm_password').val();
    if(password!=confirm){
      $("#notification-warning").fadeIn(100);
      $("#notification-warning").delay(1000).fadeOut(100);
      console.log("pass not equal");
      
      return;
    }
    if(email.indexOf('@')==-1){
      console.log("pass not equal");
      
      return;
    }
    console.log(user_name);
    console.log(password);
    console.log(email);
    socket.emit('register', {'user_name':user_name,'password':password,'email':email});
  });

  socket.on('success_register', function(data) {
      // $('#'+data['line_id']).hide();
      console.log('success_register');
      console.log(data);
      window.location.href = '/login';
    });

// });
</script>